<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="d-flex flex-column justify-content-center align-items-start min-vh-100">
        <div class="mx-5 my-5">
          <div class="slogan c-ws">
            <h1 class="display-3">こんにちは。</h1>
            <h3 class="display-5 py-3">Enjoy and have a tea. </h3>
            <p>A personal site developed by an engineer himself.</p>
            <div class="d-flex gap-3">
              <a class="text-decoration-none text-light" href="https://twitter.com/fjmtkzk0821" target="_blank"><i
                  class="bi bi-twitter social-network-link"></i></a>
              <a class="text-decoration-none text-light" href="https://github.com/fjmtkzk0821" target="_blank"><i
                  class="bi bi-github social-network-link"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="logo-container p-3 pt-5">
      <object class="logo" data="/assets/images/logo.svg" type="image/svg+xml"></object>
    </div>
    <!-- <div class="col-sm-12 col-xl-3">
    <div class="container-fluid py-4">
      <div class="row align-items-end justify-content-between g-3">
        <div class="col-12">
          <app-section [header]="'news'"></app-section>
        </div>
        <div class="col-12">
          <div class="card default-card">
            <app-promotion-carousel></app-promotion-carousel>
          </div>
        </div>
        <div class="col-12">
          <app-twitter-timeline></app-twitter-timeline>
        </div>
      </div>
    </div>
  </div> -->
  </div>
</div>
<app-footer></app-footer>