<app-default-layout class="theme-contact" header="contact" subheader="お問い合わせ" [backgroundInherit]="true">
  <div class="container min-vh-100 py-5">
    <div class="row gy-5">
      <div class="col-12 col-lg-7">
        <div class="h-100 d-flex flex-column justify-content-between">
          <div class="px-3">
            <p class="h5">Currently, there are no plans to develop or accept any kind of requests.</p>
            <p>現在、開発・受付の予定はございません。</p>
            <p class="h5">But, any kind of consultation, invitation or just chit-chat are always welcome.</p>
            <p>しかし、どんな相談でも、招待でも、ただの雑談でも、いつでも大歓迎です。</p>
          </div>
          <div class="mt-5">
            <div class="btn-group-vertical btn-group-lg" role="group" aria-label="Vertical button group">
              <button type="button" class="btn btn-link text-decoration-none text-light text-start"><i
                  class="bi bi-envelope"></i>
                fjmtkzk0821@gmail.com</button>
              <a class="btn btn-link text-decoration-none text-light text-start" href="https://twitter.com/fjmtkzk0821"
                target="_blank"><i class="bi bi-twitter"></i>
                Twitter</a>
              <a class="btn btn-link text-decoration-none text-light text-start" href="https://github.com/fjmtkzk0821"
                target="_blank"><i class="bi bi-github"></i>
                Github</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-5">
        <app-twitter-timeline></app-twitter-timeline>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</app-default-layout>