<div class="bg-default"></div>
<div class="d-flex h-100 w-100">
  <div class="menu-panel" [class]="isCollapsed? '':'menu-active'">
    <button class="btn btn-link menu-btn w-100" type="button" (click)="collapse.toggle()"
      [attr.aria-expanded]="!isCollapsed">
      <i class="bi bi-list fs-2 py-4"></i>
    </button>
    <hr class="w-100 m-0" [style]="{'opacity': 1}" [class]="isCollapsed? 'c-ws':'active'" />
    <div class="menu-container py-4 h-100 w-100">
      <small class="vertical-text">Hear. Feel. Think</small>
      <span class="fs-3 vertical-text">KAZUKI Workshop</span>
      <i class="bi bi-cup-hot-fill fs-2"></i>
    </div>
  </div>
  <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed" [horizontal]="true" class="collapse-overlay">
    <div class="panel">
      <div [className]="isCollapsed?'panel-container':'panel-container active'">
        <div *ngFor="let path of paths" class="panel-menu" [routerLink]="[path]" [routerLinkActive]="['is-active']"
          (click)="navigateTo(path)">
          <span>{{path}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="main-container"><ng-content></ng-content></div>
  <!-- <div class="sub-panel" [class]="isCollapsed? 'c-gw':'menu-active'"></div> -->
</div>